table {
    background: rgb(50, 50, 50);
    margin: 20px auto;
    padding: 0.2%;
    max-width: 80%;
}

h1 {
    text-align: center;
}

form {
    margin: auto;
    text-align: center;
    padding: 5px;
}

th {
    padding: 6px;
    text-align: left;
}

#selected {
    background: rgb(255, 255, 255);
}

tr:nth-child(odd) {
    background: rgb(200, 200, 200);
}

tr:nth-child(even) {
    background: rgb(150, 150, 150);
}
