table {
    background: rgb(50, 50, 50);
    margin: 20px auto;
    padding: 1%;
}
    
th {
    padding: 6px;
}

#selected {
    background: rgb(255, 255, 255);
}

tr:nth-child(odd) {
    background: rgb(200, 200, 200);
}

tr:nth-child(even) {
    background: rgb(150, 150, 150);
}