html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-family: monospace;
	font-size: 14pt;
}

div {
	margin: 10px 0 100px 0;
}

div#date-control {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-size: 40px;
    font-family: sans-serif;
    height: 0px;
}

table {
	/*border-collapse: collapse;*/
	/*border: 2px solid #000000;*/
	margin: 0 auto;
}

th {
	border: 2px solid #000000;
	background-color: #B20000;
    top: 0;
    height: 30px;
    overflow:hidden;
    color: #FFFFFF;
    padding: 5px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
}
	
tr {
	border: 2px solid #000000;
}

tr.tr-currently-airing > td {
	background-color: #C10000;
	color: #FFFFFF;
}

td {
	border: 2px solid #000000;
}

tr:nth-child(2n+1) {
	background-color: #F2F2F2;
}

tr:nth-child(2n+2) {
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #888888;
}

tr.tr-currently-airing > td > a:hover {
	color: #FDDFB3;
}

tr.tr-currently-airing > td > a {
	color: #FFFFFF;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 105%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
