html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-family: monospace;
	font-size: 14pt;
}

div {
	margin: 10px 0 100px 0;
}

table {
	border-collapse: collapse;
	border: 2px solid #000000;
	margin: 0 auto;
}

th {
	border-collapse: collapse;
	border: 2px solid #000000;
	background-color: #FF55AA;
    top: 0;
    height: 30px;
    overflow:hidden;
    padding: 5px;
}
	
tr {
	border: 2px solid #000000;
	border-collapse: collapse;
}

tr.tr-currently-airing > td {
	background-color: #FF66AA;
}

td {
	border: 2px solid #000000;
	border-collapse: collapse;
}

tr:nth-child(2n+1) {
	background-color: #F2F2F2;
}

tr:nth-child(2n+2) {
	background-color: #FFFFFF;
}
